<section class="designer-top pt-dt-70 pb-60 pb-dt-120 bg-beige container container--dt">
	{% if data.asset is defined %}
		<div class="designer-top__asset">
			{% if data.asset.video is defined and data.asset.video is not empty %}
				<video src="{{ data.asset.video }}" alt="{{ data.asset.alt }}" muted playsinline></video>
			{% else %}
				<img src="{{ data.asset.image }}" alt="{{ data.asset.alt }}">
			{% endif %}
		</div>
	{% endif %}

	<div class="designer-top__content">
		{% if data.heading is defined and data.heading is not empty %}  
			<h1 class="container container--mob fs-20 lh-1-2 fs-dt-30 pt-14 pt-dt-0 pb-14 pb-dt-40">{{ data.heading }}</h1>
		{% endif %}

		{% if data.table is defined and data.table is not empty %}
			<div class="designer-top__table pb-40">
				{% for row in data.table %}
					<div class="designer-top__table-row container container--mob">
						<div class="designer-top__table-cell upper fs-9">
							{{ row.label }}
						</div>
						<div class="designer-top__table-cell fs-14">
							{{ row.content }}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if data.text_html is defined and data.text_html is not empty %}
			<div class="designer-top__text lh-1-2 lh-dt-1-3 container container--mob">{{ data.text_html | raw }}</div>
		{% endif %}
	</div>
</section>
