<div class="fa pt-20 pb-50 pt-dt-60 pb-dt-80 {{class}}">
	<div class="fa__wrapper grid-wrapper container container--dt">
		<img src="{{data.image}}" alt="{{data.alt}}" class="fa__asset reveal"/>

		<div class="container fa__container container--mob">
			<h2 class="fa__title fs-26 fs-dt-28 pb-dt-10 reveal">{{data.title}}</h2>
			<div class="fa__text ff-mono lh-1-4 wysiwyg reveal">{{data.text_html}}</div>
			<a href="{{data.link.url}}" class="fa__link btn btn--medium mt-20 reveal">{{data.link.text}}</a>
		</div>
	</div>
</div>
