{% set info_bar = {
    "direction": "ltr",
    "items": [
      {
        "text": "Creativity is a wild mind and a disciplined eye",
      }
    ] 
} %}

{% set info_links = [
  {
    "link_url": "mailto:hello@kinn.collective",
    "link_label": "hello@kinn.collective",
		"target": "_blank",
		"rel": "noopener noreferrer",
		"icon": "circle"
  },
  {
    "link_label": "Whatsapp us",
    "link_url": "https://wa.me/1234567890",
		"target": "_blank",
		"rel": "noopener noreferrer",
		"icon": "circle"
  },
	{
    "link_label": "Book a call with us",
    "link_url": "https://calendly.com/kinn-collective/30min",
		"target": "_blank",
		"rel": "noopener noreferrer",
		"icon": "circle"
  },
	{
    "link_label": "Instagram",
    "link_url": "https://www.instagram.com/kinn.collective",
		"target": "_blank",
		"rel": "noopener noreferrer",
		"icon": "triangle"
  }
] %}

{% set footer = {
  "navigation_1": [
    {
      "link_label": "Collective",
      "link_url": "/collective",
    },
    {
      "link_label": "Projects",	
      "link_url": "/projects",
    },
    {
      "link_label": "Shop",
      "link_url": "/shop",
    },
    
  ],
	"navigation_2": [
		{
      "link_label": "Services",
      "link_url": "/services",
    },
    {
      "link_label": "About",
      "link_url": "/about",
    },
    {
      "link_label": "Contact",
      "link_url": "/contact",
    }
	],
	"navigation_3": [
		    {
      "link_label": "Search",
      "link_url": "/search",
    }
	]
} %}


{% set scrollspeed = info_bar.direction == 'ltr' ? 1 : -1 %}


<footer class="footer anim-trigger {{ class|default('') }}" data-root-margin="20">


	{% if info_bar is defined %}
		{% set scrollspeed = info_bar.direction == 'ltr' ? 1 : -1 %}

		<sp-lide data-auto-scroll="1" class="splide footer__ticker" data-splide='{
										"type": "loop",
										"autoWidth": true,
										"gap": "3rem",
										"focus": "center",
										"pagination": false,
										"arrows": false,
										"drag": "free",
										"autoScroll": {
											"speed": {{scrollspeed}},
											"pauseOnHover": true
										},
										"mediaQuery": "min",
										"breakpoints": {
											"1180": {
													"gap": "2.4rem"
											}
										}
									}'>
			<div class="splide__track">
				<ul class="splide__list unstyled-list">

					{% for item in info_bar.items %}
						<li class="splide__slide">
							<div class="footer__ticker-item fs-16 fs-dt-18 ">
								{{ item.text|default('') }}
							</div>
						</li>
					{% endfor %}
					{% for item in info_bar.items %}
						<li class="splide__slide">
							<div class="footer__ticker-item fs-16 fs-dt-18 ">
								{{ item.text|default('') }}
							</div>
						</li>
					{% endfor %}
					{% for item in info_bar.items %}
						<li class="splide__slide">
							<div class="footer__ticker-item fs-16 fs-dt-18 ">
								{{ item.text|default('') }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</sp-lide>
	{% endif %}

	<div class="container footer__container">
	
		<div class="footer__info pb-60 pb-dt-0">
			{% for item in info_links %}
				<div class="footer__info-item">
					<a href="{{ item.link_url }}" class="footer__info-link fs-16">
						{% if item.icon == 'circle' %}
							<div class="f-icon icon-circle"></div>
						{% endif %}
						{% if item.icon == 'triangle' %}
							<div class="f-icon icon-triangle"></div>
						{% endif %}
						<span class="footer__info-link-label">
							{{ item.link_label }}
						</span>
					</a>
				</div>
			{% endfor %}
		</div>

		<div class="footer__nav container pb-60">
			<nav class="footer__nav-list">
				<div class="footer__nav-col">
					{% for item in footer.navigation_1 %}
						<a href="{{ item.link_url }}" class="footer__nav-link fs-16">
							{{ item.link_label }}
						</a>
					{% endfor %}
				</div>
				<div class="footer__nav-col">
					{% for item in footer.navigation_2 %}
						<a href="{{ item.link_url }}" class="footer__nav-link fs-16">
							{{ item.link_label }}	
						</a>
					{% endfor %}
				</div>
				<div class="footer__nav-col">
					{% for item in footer.navigation_3 %}
						<a href="{{ item.link_url }}" class="footer__nav-link fs-16">
							{{ item.link_label }}
						</a>
					{% endfor %}
					
					{# Empty divs for styling purposes #}
					<div class="footer__nav-link">
					</div>

					<div class="footer__nav-link">
					</div>
						
				</div>
			</nav>
		</div>

	</div>

	<div class="footer__meta container pb-60">
		<div class="footer__meta-item">
			©2018—2025
		</div>
		<div class="footer__meta-item">
			<span>Plate up</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.65176L7.65176 0L15.3276 7.67582V8.66237L7.65176 0.986548L0 8.63831V7.65176ZM7.31489 0.649678H7.98863V17.036H7.31489V0.649678Z" fill="currentColor"/>
			</svg>
		</div>
		<div class="footer__meta-item">
			<div class="footer__byline upper fs-16 mob-only">
				<span>
					Site by
				</span>
				<svg width="35" height="19" viewBox="0 0 35 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="34" y="1" width="17" height="33" rx="8.5" transform="rotate(90 34 1)" stroke="currentColor"/>
				<path d="M12.7898 14.168C10.0598 14.168 8.15575 12.39 8.15575 9.156C8.15575 6.384 10.0878 4.032 13.0838 4.032C14.3298 4.032 15.3938 4.396 16.3178 4.956L16.3878 7.476H15.8838C15.4778 6.118 15.1278 5.558 14.6938 5.264C14.3158 4.942 13.6858 4.704 12.9158 4.704C10.8158 4.704 9.59775 6.328 9.59775 8.596C9.59775 11.718 10.9698 13.468 13.1118 13.468C14.1618 13.468 14.8198 13.09 15.2537 12.754V10.724C15.2537 10.164 15.2118 10.08 13.6158 9.856V9.38H17.4798V9.856C16.5838 10.08 16.5558 10.15 16.5558 10.724V12.936C15.6038 13.636 14.3018 14.168 12.7898 14.168ZM18.3201 14V13.51C19.7481 13.272 19.8181 13.174 19.8181 12.614V5.586C19.8181 5.026 19.7481 4.928 18.3201 4.69V4.2H22.5621C25.1801 4.2 26.4681 5.25 26.4681 7.112C26.4681 8.876 25.1941 10.248 22.6461 10.248C22.0581 10.248 21.6101 10.192 21.1761 10.122V12.614C21.1761 13.174 21.2321 13.272 22.6741 13.51V14H18.3201ZM21.1761 9.45C21.5541 9.562 22.0301 9.646 22.5481 9.646C24.2281 9.646 25.0261 8.722 25.0261 7.126C25.0261 5.586 24.1581 4.816 22.5061 4.816H21.1761V9.45Z" fill="currentColor"/>
				</svg>
			</div>
		</div>
	</div>

	<div class="footer__logo-wrapper container pb-16 pb-dt-5">
		{% include "./logo-full-svg.twig" with { "class": "footer__logo" }  %}
	</div>
	

</footer>
