{% set scrollspeed = 1.1 %}

<section class="ic anim-trigger">

  {% if data.heading is not empty %}
    <h2 class="ic__heading container fs-16 fs-dt-18 pb-32 upper reveal-child">{{data.heading}}</h2>
  {% endif %}

	<sp-lide data-auto-scroll="1" class="splide" data-splide='{
						        "type": "loop",
						        "autoWidth": true,
						        "gap": "1.6rem",
						        "focus": "center",
						        "pagination": false,
						        "arrows": false,
						        "drag": "free",
						        "autoScroll": {
						          "speed": {{scrollspeed}},
						          "pauseOnHover": true
						        }
						      }'>
		<div class="splide__track">

			<ul class="splide__list unstyled-list">
				{% for item in data.items %}
					<li class="splide__slide ic__slide reveal-child">
						{% if item.link is not empty %}
							<a href="{{ item.link.url }}" class="" data-item-hover="View project">
						{% else %}
							<div class="ic__slide-inner">
						{% endif %}
								{% if item.asset.video %}
									<video src="{{ item.asset.video }}" alt="{{ item.asset.alt }}" data-asset muted playsinline></video>
								{% else %}
									<img src="{{ item.asset.image }}" alt="{{ item.asset.alt }}" data-asset>  
								{% endif %}
								{% if item.caption is not empty %}
									<div class="ic__asset-caption fs-14">
										<span>
											{{ item.caption }}
										</span>
									</div>
								{% endif %}
							{% if item.link is not empty %}
								</a>
							{% else %}
								</div>
							{% endif %}
            </a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</sp-lide>
</section>