{% set scrollspeed = data.direction == 'ltr' ? 0.4 : -0.4 %}

<section class="lt reveal">

  {% if data.heading is not empty %}
    <h2 class="lt__heading fs-16 fs-dt-18  container pb-32 upper">{{data.heading}}</h2>
  {% endif %}

	<sp-lide data-auto-scroll="1" class="splide" data-splide='{
						        "type": "loop",
						        "autoWidth": true,
						        "gap": "3.4rem",
						        "focus": "center",
						        "pagination": false,
						        "arrows": false,
						        "drag": "free",
						        "autoScroll": {
						          "speed": {{scrollspeed}},
						          "pauseOnHover": true
						        }
						      }'>
		<div class="splide__track">

			<ul class="splide__list unstyled-list">
				{% for image in data.logos %}
					<li class="splide__slide">
						<img class="lt__asset" src="{{ image.image }}" alt="{{ image.alt }}">
					</li>
				{% endfor %}
        {% for image in data.logos %}
					<li class="splide__slide">
						<img class="lt__asset" src="{{ image.image }}" alt="{{ image.alt }}">
					</li>
				{% endfor %}
			</ul>
		</div>
	</sp-lide>
</section>