<tabs-el class="menu container container--dt pb-50">

	{% if data.menus is not empty %}
		{% for menu in data.menus %}
    {% set menuIndex = loop.index0 %}
			<menu-carousel
				class="menu__carousel reveal" data-carousel hidden
        data-menu-index="{{menuIndex}}"
        >
				{% for section in menu.sections %}
					<img src="{{ section.asset.image }}" data-section-index="{{menuIndex}}-{{loop.index0}}" alt="{{ section.asset.alt }}" class="menu__asset" data-asset/>
				{% endfor %}
			</menu-carousel>
		{% endfor %}
	{% endif %}


	<div class="pt-20 menu__text-wrapper reveal" data-root-margin="0">

		{% if data.menus is not empty %}
			<div class="menu__tabs container">
				<div role="tablist" aria-label="Sample Tabs" class="menu__tab-list pb-15 pb-dt-20">
					{% for menu in data.menus %}
						<button class="unstyled-button fs-20 fs-dt-25 animated-underline" role="tab" aria-selected="{{ loop.first }}" tabindex="{{ loop.index0 }}">{{ menu.title }}</button>
					{% endfor %}
				</div>
				{% for menu in data.menus %}
          {% set menuIndex = loop.index0 %}
					<div role="tabpanel" hidden>
						<div class="menu__content pb-32">
							<div class="menu__info fs-20 ">
								{{menu.info_html}}
							</div>

							<div class="menu__sections">
								{% for section in menu.sections %}
									<div class="menu__section reveal grow-trigger" data-menu-section="{{menuIndex}}-{{loop.index0}}">
										<div class="menu__items">
											{% for item in section.items %}
												{% set class = section.indent ? 'menu__item--indent' : '' %}
												{% set divider_class = section.indent ? 'menu__item-divider--indent' : 'menu__item-divider--no-indent' %}
												<div class="menu__item fs-16 fs-dt-18 lh-1-3 clr-{{section.color}} {{class}}">
													{{ item }}
												</div>
												<div class="menu__item-divider {{divider_class}} bg-{{section.color}} grow-child"></div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							</div>

							<div class="menu__extra-info fs-18 ff-mono reveal">
								{{menu.extra_info_html}}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="container reveal">
			<button type="button" class="unstyled-button btn btn--green btn--100">
				Book a table
			</button>
		</div>

	</div>

</tabs-el>
