<div class="sa anim-trigger">
	<div class="sa__container container container--dt">
		<div class="sa__content">
			<div class="sa__asset-wrapper mb-5 mb-dt-19 reveal">
				{% if data.video %}
					<video src="{{ data.video }}" alt="{{ data.alt }}" muted playsinline></video>
				{% else %}
					<img src="{{ data.image }}" alt="{{ data.alt }}">
				{% endif %}
			</div>
			{% if data.caption %}
				<div class="sa__caption fs-10 fs-dt-12 lh-1-2 pt-dt-10 container container--mob reveal" data-delay="100">{{ data.caption }}</div>
			{% endif %}
		</div>
	</div>
</div>
