<table-el class="table container container-dt">

    <div class="table__tabs container container--mob pb-10 anim-trigger">
        {% for tab in data.tabs %}
            <button class="table__tab-btn fs-18 fs-dt-25 lh-1-2 reveal-child {% if loop.first %}is-active{% endif %}" data-tab="{{ tab.heading|lower }}">
                {{ tab.heading }}
            </button>
        {% endfor %}
    </div>
    
    <div class="table__content">
        {% for tab in data.tabs %}
            <div class="table__panel {% if loop.first %}is-active{% endif %}" data-panel="{{ tab.heading|lower }}" {% if tab.cols == '4' %}data-cols="4"{% else %}data-cols="3"{% endif %}>
                <div class="table__grid anim-trigger">
                    {% if tab.cols == '4' %}
                        <div class="table__header container container--mob pt-10 pt-dt-40 pb-10 fs-400 upper fs-12 reveal-child">
                            <span>Main material</span>
                            <span>Name</span>
                            <span>Specialty</span>
                            <span>Country</span>
                        </div>
                    {% else %}
                        <div class="table__header container container--mob pt-10 pt-dt-40 pb-10 fs-400 upper fs-12 reveal-child">
                            <span>Name</span>
                            <span>Specialty</span>
                            <span>Country</span>
                        </div>
                    {% endif %}

                    {% for item in tab.items %}
                        <div class="table__row container container--mob ff-mono fs-14 pb-5 reveal-child" data-image="{{ item.image }}">
                            {% if tab.cols == '4' %}
                                <span>{{ item.main_material }}</span>
                            {% endif %}
                            <span>{{ item.name }}</span>
                            <span>{{ item.sepcialty }}</span>
                            <span>{{ item.country }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="table__preview">
        <img src="" alt="" class="table__preview-image">
    </div>
</table-el>
