<div class="tb anim-trigger container">

  <div class="tb__text-container {% if data.text_2_html is empty %} tb__text-container--only{% endif %} reveal-child">
  
    {% if data.text_1_html is not empty %}
      <div class="tb__text fs-20 fs-dt-30 lh-1-2 lh-dt-1-1 pb-20 pb-dt-40">{{data.text_1_html | raw}}</div>
    {% endif %}

    <div class="tb__links">
      {% if data.link_1 is not empty %}
          <a class="btn" href="{{ data.link_1.url }}" target="{{ data.link_1.target | default('_self') }}">{{ data.link_1.title }}</a>
      {% endif %}

      {% if data.link_2 is not empty %}
          <a class="btn" href="{{ data.link_2.url }}" target="{{ data.link_2.target | default('_self') }}">{{ data.link_2.title }}</a>
      {% endif %}
    </div>
  </div>
      
  {% if data.text_2_html is not empty %}
    <div class="tb__text-2 fs-18 fs-dt-25 lh-1-1 lh-dt-1-2 reveal-child clr-orange">{{data.text_2_html | raw}}</div>
  {% endif %}

      
</div>
