<div class="tas anim-trigger">
	<div class="tas__wrapper">
		<div class="tas__content pb-10 reveal-child">

      {% if data.text_1_html is not empty %}
        <div class="container tas__text fs-20 fs-dt-30 lh-1-2 lh-dt-1-1 pb-40">{{data.text_1_html | raw}}</div>
      {% endif %}

      <div class="tas__assets-row">
      
        {% if data.link_1 is not empty %}
          <div class="tas__link tas__link--1">
            <a href="{{ data.link_1.link.url }}" class="">
              {% if data.link_1.asset.video %}
                <video src="{{ data.link_1.asset.video }}" alt="{{ data.link_1.asset.alt }}" data-asset muted playsinline></video>
              {% else %}
                <img src="{{ data.link_1.asset.image }}" alt="{{ data.link_1.asset.alt }}" data-asset>  
              {% endif %}
              {% if data.link_1.caption is not empty %}
                <div class="tas__asset-caption tas__asset-caption--1 fs-14">
                  <span>
                    {{ data.link_1.caption }}
                  </span>
                  {% if data.link_1.tag is not empty %}
                    <span class="tas__asset-tag">
                      {{ data.link_1.tag }}
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            </a>
          </div>
        {% endif %}

        {% if data.link_2 is not empty %}
          <div class="tas__link tas__link--2">
            <a href="{{ data.link_2.link.url }}" class="">
              {% if data.link_2.asset.video %}
                <video src="{{ data.link_2.asset.video }}" alt="{{ data.link_2.asset.alt }}" data-asset muted playsinline></video>
              {% else %}
                <img src="{{ data.link_2.asset.image }}" alt="{{ data.link_2.asset.alt }}" data-asset>  
              {% endif %}
              {% if data.link_2.caption is not empty %}
                <div class="tas__asset-caption tas__asset-caption--2 fs-14">
                <span>
                  {{ data.link_2.caption }}
                  </span>
                  {% if data.link_2.tag is not empty %}
                    <span class="tas__asset-tag">
                      {{ data.link_2.tag }}
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            </a>
          </div>
        {% endif %}

      </div>

      <div class="tas__content-row">
  
    
        {% if data.text_2_html is not empty %}
          <div class="tas__text-2 fs-18 fs-dt-25 lh-1-1 lh-dt-1-2 wysiwyg container">{{data.text_2_html | raw}}</div>
        {% endif %}
        
        {% if data.link_3 is not empty %}
          <div class="tas__link tas__link--3">
            <a href="{{ data.link_3.link.url }}" class="">
              {% if data.link_3.asset.video %}
                <video src="{{ data.link_3.asset.video }}" alt="{{ data.link_3.asset.alt }}" data-asset muted playsinline></video>
              {% else %}
                <img src="{{ data.link_3.asset.image }}" alt="{{ data.link_3.asset.alt }}" data-asset>  
              {% endif %}
              {% if data.link_3.caption is not empty %}
                <div class="tas__asset-caption container container--mob fs-14">
                  <span>
                    {{ data.link_3.caption }}
                  </span>
                  {% if data.link_3.tag is not empty %}
                    <span class="tas__asset-tag">
                      {{ data.link_3.tag }}
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            </a>
          </div>
        {% endif %} 

      </div>

		</div>
	</div>
