{% set text_class = data.mono ? 'ff-mono' : ' fs-dt-20' %}
{% set anim_class = data.anim ? 'fade-up' : 'reveal' %}

<div class="text container {{class}}">

  <div class="text__inner">

    {% if data.title is defined %}
      {% if data.h1 %}
        <h1 class="text__title fs-26 fs-dt-28 w-100 {{anim_class}}">{{data.title}}</h1>
      {% else %}
        <h2 class="text__title fs-26 fs-dt-28 w-100 {{anim_class}}">{{data.title}}</h2>
      {% endif %}
    {% endif %}

    {% if data.big_text_html is defined %}
      <div class="text__big-text fs-20 fs-dt-22 w-100 wysiwyg {{anim_class}}">{{data.big_text_html}}</div>
    {% endif %}

    {% if data.small_text_html is defined %}
      <div class="text__small-text fs-16 w-100 wysiwyg {{anim_class}} {{text_class}}">{{data.small_text_html}}</div>
    {% endif %}

    {% if data.link is defined %}
      <a href="{{data.link.url}}" class="text__link fs-16 btn btn--medium {{anim_class}}">{{data.link.text}}</a>
    {% endif %}

  </div>

</div>
