<section class="text-columns container container--dt">
  {% for item in data.items %}
    <div class="text-columns__item text-columns__item--{{item.columns|length}}  pb-40">
      <h2 class="text-columns__heading container container--mob pt-10 pb-20 pb-dt-30 fs-18 fh-1-1 fs-dt-25 lh-dt-1-2">
      Kinn Collective
      <br>
      – {{ item.heading }}
      </h2>

      {% if item.columns %}
        <div class="text-columns__columns">
          {% for column in item.columns %}
            <div class="text-columns__column">
              {% for item in column.items %}
                <div class="text-columns__link-item">


                  {% if item.url %}
                    <a href="{{ item.url }}" class="text-columns__link fs-14 lh-1-1 fs-dt-16 ff-mono">
                    <span>
                        {{ item.title }}
                    </span>
                    {% if item.footnote is defined and item.footnote %}
                    <span class="fs__star">
                      ❋
                    </span>
                    {% endif %} 

                    {% if item.rating is defined and item.rating %}
                      {% for i in 1..item.rating %}
                        <span class="fs__star fs__star--active">
                          <svg width="16" height="17" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5271 8.56647C15.5538 9.24425 16.4734 10.7731 15.7319 12.8492C14.2959 14.5293 12.5031 14.5005 10.8994 13.0934C11.1826 14.4887 10.8854 15.6474 10.0056 16.3812C9.51198 16.7942 8.89184 17 8.27095 17C7.6508 17 7.03065 16.7942 6.5363 16.3812C5.65647 15.6474 5.36 14.4887 5.64322 13.0934C4.03952 14.5005 2.24675 14.5293 0.81077 12.8492C0.0685034 10.7731 0.988796 9.24425 3.0155 8.56647C0.988796 7.88869 0.0685034 6.35981 0.81077 4.2837C2.24675 2.60363 4.03952 2.63165 5.64322 4.03958C5.22096 1.9583 6.08829 0.403607 8.25697 0.00165942C8.2658 -0.000553139 8.27684 -0.000553139 8.28566 0.00165942C10.4543 0.403607 11.3217 1.9583 10.8994 4.03958C12.5031 2.63165 14.2959 2.60363 15.7319 4.2837C16.4734 6.35981 15.5538 7.88869 13.5271 8.56647M13.9413 13.2379C14.8027 12.9267 15.3331 12.0129 15.1742 11.1146C14.9352 9.7642 13.3087 8.81649 10.8251 8.81354V8.3194C13.5235 8.31645 15.2096 7.19837 15.2044 5.65991C15.2022 5.00056 14.8278 4.3663 14.2554 4.04105C12.9166 3.2792 11.1503 4.19224 9.80551 6.49699L9.3781 6.24992C10.7229 3.9201 10.5375 1.8816 9.18904 1.13154C8.6145 0.811456 7.88032 0.821044 7.31314 1.1544C5.99339 1.92806 5.88084 3.91715 7.21309 6.2219L6.78568 6.47044C5.42915 4.14652 3.59077 3.27035 2.25852 4.05802C1.69428 4.39064 1.33161 5.02638 1.33749 5.68277C1.35147 7.20943 3.03242 8.31645 5.71753 8.3194V8.81354C3.02653 8.81649 1.34411 9.92867 1.33749 11.4605C1.33455 12.1176 1.70311 12.7519 2.26955 13.0823C3.60622 13.8596 5.41003 12.9658 6.76067 10.6492L7.18808 10.8978C5.85141 13.2151 5.99854 15.2248 7.3308 15.9889C7.90239 16.3171 8.6373 16.3171 9.20963 15.9903C10.5434 15.2277 10.6934 13.2143 9.35603 10.8963L9.78197 10.6492C11.0252 12.7792 12.6488 13.7062 13.9413 13.2379" fill="currentColor"/>
                          </svg>
                        </span>
                      {% endfor %}
                    {% endif %}
                    </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if item.footnote is defined and item.footnote %}
        <p class="text-columns__footnote container container--mob fs-14 fh-1-1 fs-dt-16 lh-dt-1-2 ff-mono pt-20 mob-only">
          ❋ {{ item.footnote }}
        </p>
      {% endif %}
    </div>
  {% endfor %}
  {% if data.footenote__dt %}
    <div class="text-columns__footenote dt-only" style="grid-column: {{ data.footenote__dt.columns }};">
     ❋ {{ data.footenote__dt.text  }}
    </div>
  {% endif %}
</section>